.wrapper {
    margin: 20px 0;
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
        font-weight: 700;
        font-size: 2.2rem;
        color: var(--black-color);
    }
    p {
        width: 131px;
        height: 31px;
        background-color: var(--white-color);
        color: var(--black-color);
        border: 1px solid #f0e36a;
        border-radius: 56px;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 31px;
        text-align: center;
    }
}
.rectangle {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    p {
        font-size: 1.6rem;
        font-family: var(--font-Roboto);
        font-weight: 700;
        color: #595959;
    }
    .icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: #6c757d;
    }
}
